<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Airline Management</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.6b9ed0769162183d.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.b7c7685248004787.js" type="module"></script><script src="polyfills.9719da6bd81daf31.js" type="module"></script><script src="scripts.eebee5cf4d4173bc.js" defer></script><script src="main.549488a5c653cf87.js" type="module"></script></body>
</html>
